// Overall site variables. Inclues the bootstrap variables and some additions.
@import './bootstrap-variables.less';

// Nested images, code snippets, etc.
@nested-item-border-color: #C7C7C7;
@nested-item-margin: 10px 0;

// Top border and arrow on desktop navbar dropdown menus
@navbar-dropdown-menu-top-color: #CCC;
@navbar-dropdown-arrow-size: 9px;

// The space between the navbar and where content on pages starts
@site-content-padding-top: 20px;

