// override bootstrap defaults with our configuration
@import "includes/variables.less";
@import "includes/bootstrap-customized.less";

// Bootstrap overrides


// Falcor site custom styles
@site-content-padding-top: 20px;

.navbar-brand > .navbar-logo {
  display: inline-block;
  height: 25px;
  line-height: @navbar-height;
}

body {
  padding-top: @navbar-height + @site-content-padding-top;
  // probably unnecessary, but included in bootstrap's examples
  // TODO: confirm whether this is needed for some browser quirk
  // or just for their demo
  // min-height: 2000px;
  
  // Smooth text when possible
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hero-banner {
  background-color: #111;
  // Brings the top flush with the navbar
  margin-top: -1 * @site-content-padding-top;
  // height: 350px;
  padding-top: 20px;

  .hero-banner-logos {
    .center-block();
    @logo-width: 188px;
    @logo-height: 177px;
    @screen-xs-logo-reduction-factor: 1.5;

    position: relative;
    width: @logo-width;
    height: @logo-height;


    @media (max-width: @screen-xs-max) {
      width: @logo-width / @screen-xs-logo-reduction-factor;
      height: @logo-height / @screen-xs-logo-reduction-factor;
    }

    & > .hero-banner-logo {
      position: absolute;
      top: 0;
      left: 0;
      width: @logo-width;
      
      @media (max-width: @screen-xs-max) {
        width: @logo-width / @screen-xs-logo-reduction-factor;
      }      
    }
  }

  
  .hero-banner-description {
    font-size: 20px; // TODO: standardize
    
    @media (max-width: @screen-xs-max) {
      font-size: 16px;
    }      
  }  
}


// Animated intro

.animated-fade-in() {
  opacity: 0;
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.animation-enabled {
  .hero-banner-logo {
    .animated-fade-in();
    animation-delay: 0.25s;
    animation-duration: 1s;
  }

  .hero-banner-description {
    .animated-fade-in();
    animation-duration: 0.7s;
    animation-delay: 1.1s;
  }
  
  .main-page-content {
    .animated-fade-in();
    animation-duration: 0.7s;
    animation-delay: 1.85s;
  }
}





// ===========
// = Utility =
// ===========


// Easy vertical spacing improvements
.row {
  &.row-gap-small {
    margin-top: 15px;
  }
  &.row-gap-medium {
    margin-top: 30px;
  }
  &.row-gap-large {
    margin-top: 45px;
  }
  &.row-gap-huge {
    margin-top: 60px;
  }
}

// Light text for a dark (inverse) background
.text-inverse {
  color: darken(white, 20%);
}