// override bootstrap defaults with our configuration
@import "includes/variables.less";
@import "includes/bootstrap-customized.less";

// ========================================
// = Bootstrap Overrides and Enhancements =
// ========================================
.navbar-nav .dropdown-menu > li > a:hover {
  text-decoration: underline;
}

// Larger navbar font-size
.navbar-nav > li > a, .navbar-nav .dropdown-menu > li > a {
  font-size: 16px;
}

.navbar-nav .dropdown > .dropdown-menu {
  opacity: 0;
  transition: opacity 2s;
}
.navbar-nav .dropdown.open > .dropdown-menu {
  opacity: 1;
}

// Top border and arrow on desktop navbar dropdown menus
@navbar-dropdown-menu-top-color: #CCC;

@media (min-width: @screen-sm-min) {
  .navbar-nav > li > .dropdown-menu {
    border-top: 2px solid @navbar-dropdown-menu-top-color;
    margin-top: 1px;
  
    @arrow-size: 9px;
  
    &:after {
    	bottom: 100%;
    	left: @navbar-padding-horizontal + 30px;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }

    &:after {
    	border-color: rgba(204, 204, 204, 0);
    	border-bottom-color: #CCC;
    	border-width: @arrow-size;
    	margin-left: -1 * @arrow-size;
    }
  }  
}

// More visible top of menu line on mobile menus
@media (max-width: @screen-xs-max) {
  .navbar .navbar-collapse {
    border-color: @navbar-dropdown-menu-top-color * 0.8;
  }
}



// May be needed later, but safe to ignore for now TODO: use or remove
// @custom-navbar-font-size: 14px;
// @custom-navbar-line-height-computed: floor((@custom-navbar-font-size * @line-height-base));
// @navbar-padding-vertical: ((@navbar-height - @custom-navbar-line-height-computed) / 2);;

// ======================
// = Falcor Site Styles =
// ======================
@site-content-padding-top: 20px;
// The border on nested images, code snippets, etc.
@nested-item-border-color: #BBB;

.navbar-brand > .navbar-logo {
  height: 25px;
  // correct for rounding so it perfectly aligns with the other text's baseline
  margin-top: -1px; 
}

body {
  padding-top: @navbar-height + @site-content-padding-top;

  // Font improvement tweaks.
  // MDN recommends against using the first two, as they aren't on track to be included
  // in the spec, but just about everyone (including Netflix, Apple, Google, etc.)
  // uses them and they greatly improve readability when supported.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Place a subtle border around images by default, since they're generally
// set on the light gray site background
img {
  border: 1px solid @nested-item-border-color;
}

img.img-plain {
  border: none;
}

.hero-banner {
  @logo-width: 188px;
  @screen-xs-banner-logo-ratio: 0.66;
  @screen-xs-banner-text-ratio: 0.8;

  background-color: #111;
  // Brings the top flush with the navbar
  margin-top: -1 * @site-content-padding-top;
  // height: 350px;
  padding-top: 20px;


  .hero-banner-logo {
    width: @logo-width;
    
    @media (max-width: @screen-xs-max) {
      width: @logo-width * @screen-xs-banner-logo-ratio;
    }      
  }
  
  .hero-banner-description {
    @hero-banner-description-font-size: 20px;
    font-size: 20px; // TODO: standardize
    
    @media (max-width: @screen-xs-max) {
      font-size: @hero-banner-description-font-size * @screen-xs-banner-text-ratio;
    }      
  }  
}


// Animated homepage intro

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes homepagebackground {
  0% {
    background-color: #111;
  }
  100% {
    background-color: @body-bg;
  }
}

.animated-fade-in() {
  opacity: 0;
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.supports-cssanimations .animation-enabled {
  &.homepage {
    background-color: #111;
    // TODO: major reconciliation
    animation-name: homepagebackground;
    animation-duration: 0.7s;
    animation-delay: 2.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

  .hero-banner-logo {
    .animated-fade-in();
    animation-delay: 0.25s;
    animation-duration: 1s;
  }

  .hero-banner-description {
    .animated-fade-in();
    animation-duration: 0.7s;
    animation-delay: 1.1s;
  }
  
  .main-homepage-content {
    .animated-fade-in();
    animation-duration: 0.7s;
    animation-delay: 2.2s;
  }
}

.supports-cssanimations .animation-enabled-alt {
  &.homepage {
    background-color: #111;
    // TODO: major reconciliation
    animation-name: homepagebackground;
    animation-duration: 0.7s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

  .hero-banner-logo {
    .animated-fade-in();
    animation-delay: 0.25s;
    animation-duration: 1s;
  }

  .hero-banner-description {
    .animated-fade-in();
    animation-duration: 0.7s;
    animation-delay: 1.5s;
  }
  
  .main-homepage-content, .navbar > .container {
    .animated-fade-in();
    animation-duration: 0.7s;
    animation-delay: 1.5s;
  }
  .navbar {
    background-color: #111;
  }
}





// ===========
// = Utility =
// ===========


// Easy vertical spacing improvements -- TODO: make into loop
.row {
  &.row-gap-small {
    margin-top: 15px;
  }
  &.row-gap-medium {
    margin-top: 30px;
  }
  &.row-gap-large {
    margin-top: 45px;
  }
  &.row-gap-huge {
    margin-top: 60px;
  }
}
@media (max-width: @screen-xs-max) {
  .row {
    &.row-gap-small {
      margin-top: 10px;
    }
    &.row-gap-medium {
      margin-top: 20px;
    }
    &.row-gap-large {
      margin-top: 30px;
    }
    &.row-gap-huge {
      margin-top: 40px;
    }
  }
}


// Light text for a dark (inverse) background
.text-inverse {
  color: darken(white, 20%);
}