---
layout: base
title: Falcor
lang: en
---

<body class="homepage">
  {% include navigation.html %}

  <div class="hero-banner">
    <div class="container">
      <div class="row row-gap-small">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1 text-center">
          <div class="row">
            <div class="col-xs-12">
              <div class="hero-banner-logos">
                <img class="hero-banner-logo" src="{{ site.baseurl }}/images/hero-banner-logo.svg" alt="">
              </div>
            </div>
          </div>
          <div class="row row-gap-medium text-center text-inverse hero-banner-description">
            <div class="col-xs-12">
              <div>Retrieve model data on-demand from the cloud.</div>
            </div>
          </div>
          <div class="row row-gap-huge"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-homepage-content">
    <div class="container">
      <div class="row row-gap-small"></div>
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          {% capture the_include %}{% include homepage.md %}{% endcapture %}
          {{ the_include | markdownify }}
        </div>
      </div>
    </div>
  </div>

  <!-- Hack just for easy demoing purposes -->
  <script>
  window.addEventListener('DOMContentLoaded', function () {
    if (window.location.href.indexOf('animated') !== -1) {
      document.body.className += ' animation-enabled';
    }
    if (window.location.href.indexOf('altimated') !== -1) {
      document.body.className += ' animation-enabled-alt';
    }
  });
  </script>


  {% include javascript-includes.html %}
</body>
