<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{%if page.title %}{{ page.title }}{% else %}{{ site.meta_defaults.title }}{% endif %}</title>
<meta name="description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.meta_defaults.description }}{% endif %}">

<!-- TODO: add open graph metadata -->

<!-- <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css"> -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/stylesheets/falcor-site.css">
<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/stylesheets/syntax-theme.css">
{% include favicons.html %}
<title>Falcor</title>
