{% capture page_title %}{%if page.title %}{{ site.meta_defaults.title_prefix }}{{ page.title }}{% else %}{{ site.meta_defaults.title_prefix }}{{ site.meta_defaults.title }}{% endif %}{% endcapture %}
{% capture page_description %}{%if page.description %}{{ page.description }}{% else %}{{ site.meta_defaults.description }}{% endif %}{% endcapture %}

<!-- Basic metadata -->
<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Title and Description -->
<title>{{ page_title }}</title>
<meta name="description" content="{{ page_description }}">

<!-- Open graph metadata -->
<meta property="og:title" content="{{ page_title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://netflix.github.io{{ site.baseurl }}/">
<meta property="og:image" content="https://netflix.github.io{{ site.baseurl }}/images/falcor-logo.png">
<meta property="og:description" content="{{ page_description }}">

<!-- All site CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/stylesheets/falcor-site.css">

<!-- All site favicons -->
{% include favicons.html %}
