{% comment %}
  Search through the navigation and find this page, the preceding page
  within the same subnavigation (dropdown) section, and the next page within it,
  then display links to previous/next.
{% endcomment%}

{% for navigation_item in site.data.navigation %}
  {% if navigation_item.children %}
    {% for child_id in navigation_item.children %}
      {% if child_id == page.id %}
        {% assign current_page = site.pages | where: 'id', navigation_item.children[forloop.index0] | first %}
        {% assign current_page_number = forloop.index %}
        {% assign total_pages_in_section = forloop.length %}
        {% unless forloop.first %}
          {% assign previous_page_index = forloop.index0 | minus: 1 %}
          {% assign previous_page = site.pages | where: 'id', navigation_item.children[previous_page_index] | first %}
        {% endunless %}
        {% unless forloop.last %}
          {% assign next_page_index = forloop.index0 | plus: 1 %}
          {% assign next_page = site.pages | where: 'id', navigation_item.children[next_page_index] | first %}
        {% endunless %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% if previous_page or next_page %}
  <div class="row">
    <div class="col-xs-12">
      <div class="intrasection-navigation">
        <div class="row">
          <div class="col-xs-6 text-left">
            {% if previous_page %}
              <span class="icon icon-arrow-left"></span>
              <a href="{{ site.baseurl }}{{ previous_page.url }}">{{ previous_page.title }}</a>
            {% endif %}
          </div>
          <div class="col-xs-6 text-right">
            {% if next_page %}
              <a href="{{ site.baseurl }}{{ next_page.url }}">{{ next_page.title }}</a>
              <span class="icon icon-arrow-right"></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}