<!-- JQuery (cdn and local fallback) for the bootstrap plugins -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>if (!window.jQuery) {document.write('<script src="{{ site.baseurl }}/javascripts/jquery-2.1.4.min.js"><\/script>');}</script>
<script src="{{ site.baseurl }}/javascripts/bootstrap-modified.min.js"></script>
<script src="{{ site.baseurl }}/javascripts/modernizr-custom.min.js"></script>
<script src="{{ site.baseurl }}/javascripts/prettify/prettify-bundle.min.js"></script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NJBD65"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NJBD65');</script>
<!-- End Google Tag Manager -->

{% include page-initialization-js.html %}
