<!-- JQuery (cdn and local fallback) for the bootstrap plugins -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Local fallback in case the CDN-loaded jquery fails -->
<script>if (!window.jQuery) {document.write('<script src="{{ site.baseurl }}/javascripts/jquery-2.1.4.min.js"><\/script>');}</script>
<script src="{{ site.baseurl }}/javascripts/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/javascripts/modernizr-custom.min.js"></script>
<script src="{{ site.baseurl }}/javascripts/prettify/prettify-bundle.min.js"></script>
<!-- <script src="{{ site.baseurl }}/javascripts/toc/toc.js"></script> -->
