<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <div class="row">
          <div class="col-xs-4">
            <a href="https://www.netflix.com" target="_blank">
              <img class="netflix-logo" src="{{ site.baseurl }}/images/netflix-logo.svg" alt="Netflix logo">
            </a>
          </div>
          <div class="col-xs-8 text-right footer-links">
            <a href="https://github.com/netflix" target="_blank">Netflix Open Source Platform</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
