---
layout: base
---

<body {% if page.page_class %}class="{{ page.page_class }}"{% endif %}>
  <a class="sr-only" href="#main-content">Skip to main content</a>
  {% include navigation.html %}

  <!-- the id is used exclusively for easy access by assistive technology -->
  <main class="container standard-page" id="main-content">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        {{ content }}        
      </div>
    </div>
    <!-- TODO: replace this space with a css style -->
    <div class="row row-gap-huge"></div>
  </main>
  
  {% include javascript-includes.html %}
  {% include standard-page-initialization-js.html %}
</body>
