---
layout: base
---

<body>
  {% include navigation.html %}

  <main class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        {{ content }}        
      </div>
    </div>
    <!-- TODO: replace this space with a css style -->
    <div class="row row-gap-huge"></div>
  </main>
  
  {% include javascript-includes.html %}
  <script>
    $(document).ready(function () {
      // Force all images to be responsive so they don't exceed their bounds
      $('img').addClass('img-responsive');
      
      $('#markdown-toc').wrap('<div class="table-of-contents"></div>');
      $('.toc-page').removeClass('not-ready');
    });
    
  </script>
</body>
