---
layout: page
page_class: "video-page"
---

<div class="row">
  <div class="col-xs-12">
    {% if page.youtube_id %}
    <div class="row video-player">
      <div class="col-xs-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/{{ page.youtube_id }}?rel=0"></iframe>        
        </div>        
      </div>
    </div>
    {% else %}
    Please ensure your page has a youtube_id in its page front matter
    {% endif %}
    
    <div class="video-description">
      {{ content }}
    </div>
    {% include intrasection-navigation.html %}
  </div>
</div>
